:root {
    --accent-color: rgb(32, 155, 217);
    --shadow-color: rgb(50, 50, 50);
    font-family: Arial, Helvetica, sans-serif
}

main {
    background-color: #e3f3fa;
    min-height: 80vh;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--shadow-color);
    align-items: center;
    padding: 10px 0px;
}

#name {
    display: inline;
    background-color: var(--accent-color);
    color: var(--shadow-color);
    padding: 0px 10px 0px 80px;
    font-weight: bold;
    font-size: 1.5em
}

#links {
    display: flex;
    flex-wrap: nowrap;
    text-align: right;
    color: var(--accent-color);
    margin-right: 80px;
    text-decoration: underline rgb(32, 155, 217);
}

#links h1 {
    padding: 0px 15px;
    color: var(--accent-color);
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
}

#links h1:visited {
    color: var(--accent-color);
    text-decoration: none;
}

#links h1:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom {
    display: flex;
    flex-direction: row;
    background-color: var(--shadow-color);
    align-items: center;
    justify-content: space-around;
    font-size: .75em;
    padding: 10px 0px;
}
